body {
  margin: 0;
  letter-spacing: normal;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 18px;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bio-col {
  flex: 4;
  /* background-color: #5DADE2; */
  background-color: #B73D34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.projects-col {
  flex: 6;
  background-color: #F8F8F8;
}



/***************BIOOOO********/
.bio {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.social {
  display: flex;
  margin: 21px;
}
.social img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/***********PROJECTS**********/


.projects-container {
  margin: 13%;
}

.projects-container {
  color: #3d3d3d;
}

.section {
  margin-bottom: 50px;
}

.section .title {
  color: #B73D34;
}





/********media query********/

@media only screen and (min-width: 900px) {
    .flexbox {
        flex-direction: row;
    }

    .flexbox .col {
      height: 100vh;
    }

    .projects-col {
      overflow: scroll;
    }



}
