body {
  margin: 0;
}
.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flexbox .col {
  /*flex: 1;*/


}

.bio-col {
  flex: 4;
  background-color: #5DADE2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.projects-col {
  flex: 6;
  background-color: white;
}



/***************BIOOOO********/
.bio {
  height: 300px;
  /*width: 300px;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.bio h1 {
  font-family: 'Josefin Sans', sans-serif;
}
.bio p {
  font-family: 'Playfair Display', serif;
}

.social {
  display: flex;
}
.social img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.resume {
  text-decoration: none;
  color: white;
}
.resume:hover {
  color: black;

}
/***********PROJECTS**********/


.projects-container {
  padding: 20px;

}
.projects-container h2 {
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
}

/*grid*/

.grid {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.grid-item {
  width: 90%;
  height: 400px;
  background-color: #5DADE2;
  margin: 20px;
}

/********media query********/

@media only screen and (min-width: 900px) {
    .flexbox {
        flex-direction: row;
    }

    .flexbox .col {
      height: 100vh;
    }

    .projects-col {
      overflow: scroll;
    }

    .grid-item {
      width: 43%;
    }


}
