body {
  margin: 0;
}
.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
  height: 100vh;

}

.bio-col {
  background-color: #5DADE2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.projects-col {
  background-color: white;
}

@media only screen and (max-width: 900px) {
    .flexbox {
        flex-direction: column;
    }
    

}

/***************BIOOOO********/
.bio {
  height: 300px;
  /*width: 300px;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.bio h1 {
  font-family: 'Josefin Sans', sans-serif;
}
.bio p {
  font-family: 'Playfair Display', serif;
}

/***********PROJECTS**********/

.projects-col {
  overflow: scroll;
}
.projects-container {
  padding: 20px;

}
.projects-container h2 {
  font-family: 'Playfair Display', serif;
}

/*grid*/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow: auto;
}

.grid-item {
  width: 200px;
  height: 400px;
  background-color: #5DADE2;
  margin-top: 20px;
}
